<launch>
  <rosparam command="load" file="$(find iq_gnc)/global_params/params.yaml"/>
  <group>
    <node pkg="iq_gnc" type="Drone" name="drone0" args="0" output="screen" >
      <param name="namespace" value="/drone0"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
  <group>
    <node pkg="iq_gnc" type="Drone" name="drone1" args="1" output="screen">
      <param name="namespace" value="/drone1"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
  <group>
    <node pkg="iq_gnc" type="Drone" name="drone2" args="2" output="screen">
      <param name="namespace" value="/drone2"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
  <group>
    <node pkg="iq_gnc" type="Drone" name="drone3" args="3" output="screen">
      <param name="namespace" value="/drone3"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
  <group>
    <node pkg="iq_gnc" type="Drone" name="drone4" args="4" output="screen">
      <param name="namespace" value="/drone4"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
  <group>
    <node pkg="iq_gnc" type="Drone" name="drone5" args="5" output="screen">
      <param name="namespace" value="/drone5"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
  <group>
    <node pkg="iq_gnc" type="Drone" name="drone6" args="6" output="screen">
      <param name="namespace" value="/drone6"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
  <group>
    <node pkg="iq_gnc" type="Drone" name="drone7" args="7" output="screen">
      <param name="namespace" value="/drone7"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
  <node pkg="iq_gnc" type="MissionControl" name="MissionControl0" output="screen"/>
</launch>
